#agent-list,
#agent-list * {
    font-family: Arial, Helvetica, sans-serif;
}

/* Widget WhatsApp */
#whatsapp-widget {
    position: relative;
    /* bottom: 20px;
    right: 20px; */
    z-index: 9999;
}

#whatsapp-icon {
    background-color: #2db742;
    width: 45px; /* Tetapkan lebar tetap */
    height: 45px; /* Tetapkan tinggi tetap */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative; /* Agar daftar agen muncul relatif ke ikon */
}

#whatsapp-info {
    position: absolute;
    bottom: 0;
    right: 48px;
    width: 150px;
    height: 50px;
    background-color: rgb(251, 251, 127);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px;
    transition: transform 0.3s ease;
    transform-origin: left;
    border-radius: 8px 8px 0 8px;
}

#whatsapp-icon img {
    width: 25px; /* Sesuaikan ukuran ikon */
    height: 25px;
    transition: transform 0.3s ease;
}

#whatsapp-icon.rotate img {
    width: 20px; /* Ukuran lebih kecil untuk ikon X */
    height: 20px; /* Ukuran lebih kecil untuk ikon X */
}

/* Header Styling */
.agent-header {
    background-color: #2db742; /* Hijau WhatsApp */
    color: white;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.agent-header h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.agent-header p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5em;
}

.agent-header .small-text {
    font-size: 12px;
    color: #e0f7e9;
}

/* Daftar agen muncul di atas */
#agent-list {
    position: absolute;
    bottom: 52px; /* Muncul di atas ikon WhatsApp */
    right: 0;
    background-color: white;
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    padding: 10px;
    width: 90vw;
    max-width: 352px;
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    display: none;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-out;
}

#agent-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#agent-list li {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#agent-list li:hover {
    background-color: #f9f9f9;
}

/* Avatar Styling */
.agent-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Agent Info Styling */
.agent-info {
    flex-grow: 1;
}

.agent-info strong {
    font-size: 14px;
    color: #333;
}

.agent-info p {
    margin: 2px 0 0;
    font-size: 12px;
    color: #888;
}

/* WhatsApp Icon Styling */
.agent-wa-icon {
    width: 24px;
    height: 24px;
}

/* Rotasi ikon saat berubah ke X */
#whatsapp-icon.rotate img {
    transform: rotate(90deg); /* Animasi berputar */
}

/* Media Query: Jika layar kurang dari 400px (ponsel), daftar agen disesuaikan */
/* @media (max-width: 400px) {
    #agent-list {
        width: 95vw;
    }
} */